<link rel="stylessheet" href="../../public/table.css">
<tr>
    <th scope="row"><u><%= drink.name %> </u></th>
    <td><u><%= drink.genre %> </u></td>
    <a href="/drink/<%=drink.id %>">Avaa</a>
</tr>