<link rel="stylesheet" href="../public/nav.css">
<nav>
    <div class="dropdown">
      <button class="dropbtn">Menu</button>
      <div class="dropdown-content">
        <a href="/">Etusivu</a>
        <a href="/drinks">Drinkit</a>
        <a href="/adddrink">Lisää drinkki</a>
      </div>
    </div>
  </nav>