<link rel="stylesheet" href="../public/nav.css">
<nav>
  <div class="user">
    <a href="/users">Kirjauduttu käyttäjällä <%=user.username %></a>
    <a href="/logout">Kirjaudu ulos</a>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Menu</button>
    <div class="dropdown-content">
      <a href="/">Etusivu</a>
      <a href="/drinks">Drinkit</a>
      <a href="/add">Lisää drinkki</a>
      <% if (user.admin) { %> 
        <a href="/users">Hallinnoi käyttäjiä</a>
      <% } %> 
    </div>
  </div>
</nav>