<!DOCTYPE html>
<html lang="fi">

<head>
    <script src="../public/js/main.js"></script>
    <link rel="stylesheet" href="../public/main.css">
    <title>Lisää</title>
</head>

<body>
    <%- include("./modules/nav") %> 
    <h1>
        Lisää drinkki
    </h1>
        <fieldset>
            <legend>Nimi</legend>
            <textarea rows="1" cols="77">
            </textarea>
            <legend>Laji</legend>
            <textarea rows="1" cols="77">
            </textarea>
            <legend>Ainesosat</legend>
            <textarea rows="3" cols="77">
            </textarea>
            <legend>Valmistusohje</legend>
            <textarea rows="5" cols="77">
            </textarea>
        </fieldset>
    <div class="wrapper">
        <button><a href="./drinkki.html">Lisää</a></button>
    </div>
</body>

</html>