<!DOCTYPE html>
<html lang="fi">

<head>
    <link rel="stylesheet" href="../public/main.css">
    <title>Drinkit</title>
</head>

<body>
  <%- include("./modules/nav", { user }) %> 
  <div class="list">
    <form action="drinksfilter" method="POST">
      <input type="text" name="name" placeholder="nimi">
      <select id="ingredient" name="ingredient">
          <% params.ingredients.forEach(item => { %>
              <%- include("./modules/ingredient", { item }) %>
          <% }); %> 
      </select>
      <input type="submit" value="Hae">
  </form>
      <% if (!user.admin) params.drinks = params.drinks.filter(drink => drink.approved == 1); %> 
      <% params.drinks.forEach(drink => { %>
        <%- include("./modules/drink", { drink, user }); %>
      <% }); %>
  </div>
</body>

</html>