<!DOCTYPE html>
<html lang="fi">

<head>
  <script src="../main.js"></script>
    <link rel="stylesheet" href="../public/main.css">
  <title>Drinkki</title>
</head>

<body>
  <%- include("./modules/nav") %> 
  <h1>
    Drinkki
  </h1>
  <div class="drink">
  <h2>
    Finlandia Coffee
  </h2>
  
  <table class="table table-striped">
    <tbody>
        <tr>
            <th scope="row"><u>Ainesosat</u></th>
            <td><u>Valmistusohje</u></td>
        </tr>
        <tr>
            <th scope="row">2 cl vodkaa (Finlandia Vodka),
                2 cl lakkalikööriä (Lapponia Lakka),
                12 cl kahvia,
                2 rkl kermaa</th>
            <td>Kaada alkoholit lasiin, lisää haluamasi määrä kahvia sekä lopuksi pinnalle kerros
                kermavaahtoa.
                Mikäli haluat makeuttaa drinkkiä, käytä sokerilientä tai kaada lasiin aluksi pieni määrä
                kahvia, johon liuotat haluamasi määrän sokeria.
                </td>
        </tr>
    </tbody>
</table>
</div>
</body>

</html>