<!DOCTYPE html>
<html lang="fi">

<head>
    <link rel="stylesheet" href="../public/main.css">
  <title>Drinkit</title>
</head>

<body>
  <%- include("./modules/nav", { user }) %> 
  <div class="drink-list">
      <% const drinks = await db.select({fields: "*", table: "drinks"}) %>
      <% drinks.forEach(drink => include("./modules/drink", { drink })); %>
  </div>
</body>

</html>