<!DOCTYPE html>
<html lang="fi">

<head>
    <link rel="stylesheet" href="../public/main.css">
  <title>Drinkit</title>
</head>

<body>
  <%- include("./modules/nav", { user }) %> 
  <div class="drink-list">
    <table class="table table-striped">
      <tbody>
      <% if (!user.admin) params.drinks = params.drinks.filter(drink => drink.approved == 1); %> 
      <% params.drinks.forEach(drink => { %>
        <%- include("./modules/drink", { drink }); %>
      <% }); %>
    </tbody>
  </table>
  </div>
</body>

</html>