<!DOCTYPE html>
<html lang="fi">

<head>
  <script src="../main.js"></script>
    <link rel="stylesheet" href="../public/main.css">
  <title>Etusivu</title>
</head>

<body>
  <%- include("./modules/nav") %> 
  <h1>
    Drinkki arkisto
  </h1>
</body>

</html>