@import "./table.css";
@import "./main.css";

.drink-list {
    width: 60%;
    margin-top: 70px;
    margin-left: 20%;
    background-color: #066175;
    cursor: pointer;
}

.drink-list u {
    color: white;
}

.drink {
    margin-left: 5%;
    width: 90%;
    background-color: #066175;
}